* {
  box-sizing: border-box;
}

body {
  font-family: 'inter';
  margin: 0;
}

header .container {
  background-color: #fff7ed;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.title {
  margin: 0px;
  font-weight: 900;
  font-size: 25.35px;
  color: #000000;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  margin-left: 1rem;
  color: #4d4d4d;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
}
