.host-vans-container {
  padding: 0 30px;
}

.host-vans-container h1 {
  margin: 55px 0 32px;
}

.host-van-card-container {
  width: 494px;
  height: 102px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.host-van-card-container img {
  width: 65px;
  height: 65px;
  border-radius: 5px;
  margin: 0 20px 0 25px;
}

.host-van-card-text h4 {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  margin: 0 0 5px;
  color: #161616;
}

.host-van-card-text p {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
  margin: 0;
}

.host-van-container {
  width: 496px;
  border-radius: 6px;
  background-color: #ffffff;
  margin: 30px;
  padding: 23px 25px;
}

.host-van-details-container {
  display: flex;
}

.host-van-details-container img {
  width: 160px;
  height: 158px;
  border-radius: 5px;
  margin: 0 20px 27px 0;
}

.host-van-details-text {
  margin-top: 25px;
}

.host-van-details-text h2 {
  margin: 15px 0 8px;
}

.back-button {
  margin: 40px 0 35px 30px;
}

.host-van-pricing {
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  color: #4d4d4d;
}

.host-van-pricing span {
  font-family: Inter;
  font-weight: 500;
  font-size: 24px;
  color: #161616;
}
