a {
  text-decoration: none;
}

.vans-container {
  padding: 0 30px;
}

.vans-container h1 {
  font-family: Inter;
  font-weight: 700;
  font-size: 32px;
  color: #161616;
}

.vans-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.van-container {
  width: 230px;
  margin-bottom: 30px;
  color: #161616;
}

.van-container img {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}

.van-container h3 {
  font-family: Inter;
  font-weight: 600;
  font-size: 20px;
  margin: 10px 0;
}

.van-details {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.price b {
  font-size: 20px;
}

.category {
  color: #ffead0;
  width: 85px;
  height: 33px;
  border-radius: 5px;
  font-family: Inter;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category.simple {
  background-color: #e17654;
}

.category.luxury {
  background-color: #161616;
}

.category.rugged {
  background-color: #115e59;
}

.van-details-container {
  padding: 0 30px;
}

.van-details-container img {
  width: 500px;
  height: 490px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.van-details-container .price b {
  font-family: Inter;
  font-weight: 700;
  font-size: 25px;
}

.van-details-container a {
  font-family: Inter;
  font-weight: 700;
  font-size: 15px;
  background-color: #ff8c38;
  color: white;
  width: 495px;
  height: 50px;
  opacity: 1;
  border-radius: 5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.filter-buttons {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-bottom: 55px;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  margin-right: 20px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin: 0 0 0 20px;
  padding: 6px 10px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*='van-type-'] {
  padding: 7px 14px;
}
